footer {
  background-color: #22A39F;
  padding: 20px 10px;
  margin-top: 10px;
}

footer a {
  color: #434242;
  margin: 0 10px;
}
footer a:hover {
  color: #3C4048;
  border-bottom: 2px solid #3C4048;
}
