.grid-item-1,
.grid-item-2 {
  position: relative;
  top: 50px;
}
.showcase input {
  padding: 10px 70px 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
  margin: 5px;
}
.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: #344D67;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.little-info {
  font-size: 15px;
  font-family: "poppins", sans-serif;
}
